@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        body {
            background-color: #fef6e4;
            font-family: Arial, sans-serif;
            color: #172c66;
            margin: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        h3 {
            color: #001858;
            margin: 0;
        }
    </style>
</head>
<body>
    <div>
        <h3>Welcome @ViewBag.Message</h3>
    </div>
</body>
</html>
